@import "obnulenie.scss";

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../fonts/helveticaneuecyr_thin.eot');
	src: local('☺'), url('../../fonts/helveticaneuecyr_thin.woff') format('woff'), url('fonts/helveticaneuecyr_thin.ttf') format('truetype'), url('fonts/helveticaneuecyr_thin.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../../fonts/helveticaneuecyr_roman.eot');
	src: local('☺'), url('../../fonts/helveticaneuecyr_roman.woff') format('woff'), url('fonts/helveticaneuecyr_roman.ttf') format('truetype'), url('fonts/helveticaneuecyr_roman.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Another Danger Slanted(RUS BY L';
	src: url('../../fonts/10891.eot');
	src: local('☺'), url('../../fonts/10891.woff') format('woff'), url('fonts/10891.ttf') format('truetype'), url('fonts/10891.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


body {
	background: url('../../img/Rectangle 215.png') center no-repeat fixed;
	background-size: cover;
}


.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-between;
}
.content {
	padding: 40px 30px;
	flex: 1 1 auto;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
}


.header {
	margin: 0px 0px 110px 0px;
}
.header__row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__menu {
	display: flex;
}
.header__menu li {
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	font-size: 22px;
	line-height: 143.5%;
	color: #FFFFFF;
	margin: 0px 60px 0px 0px;
}
.header__menu li:last-child{
	margin: 0;
}
.header__menu li a{
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	font-size: 22px;
	line-height: 143.5%;
	color: #FFFFFF;
}


.mein-content {}
.mein-content__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mein-content__column {
	margin: 0px 35px 0px 0px;
}
.mein-content__column:last-child{
	margin: 0;
}
.mein-content__column p{
	font-family: 'Another Danger Slanted(RUS BY L';
	font-weight: 400;
	font-size: 75px;
	line-height: 159.18%;
	letter-spacing: 0.075em;
	color: #FFFFFF;
	width: 666px;
}
.mein-content__column img{
	max-width: 600px;
}


.footer {
	padding: 20px 30px 10px 30px;
}
.footer__row {
	display: flex;
	justify-content: center;
}
.footer__row p{
	font-family: 'HelveticaNeueCyr';
	font-weight: 700;
	font-size: 30px;
	line-height: 143.5%;
	color: #FFFFFF;
	margin: -25px 0px 0px -300px;
	position: absolute;
}
.footer__row img{
	max-width: 500px;
}
.footer__text {}