@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/*---!!ОБНУЛЕНИЕ!!---*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  background: linear-gradient(72.44deg, #01010C 0%, #0C1D33 100%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 30px 0px 30px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__menu a {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  line-height: 162.9%;
  color: #FBFBFB;
  margin: 0px 60px 0px 0px;
}

.header__menu a:last-child {
  margin: 0;
}

.body {
  margin: 40px 0px 0px 0px;
}

.body__title {
  margin: 0px 0px 30px 0px;
}

.body__title p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 75px;
  line-height: 110px;
  text-align: center;
  background: linear-gradient(91.03deg, #194162 0%, #466B8A 50.32%, #194162 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__column {
  margin: 0px 40px 0px 0px;
}

.body__column:last-child {
  margin: 0;
}

.body__text {
  max-width: 470px;
}

.body__text p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  line-height: 162.9%;
  text-align: right;
  color: #FBFBFB;
}

.body__img img {
  height: 586px;
  width: 420px;
}

.body__text2 {
  max-width: 470px;
}

.body__title2 p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FBFBFB;
}

.body-buypanel__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-buypanel__column {
  margin: 50px 50px 0px 0px;
}

.body-buypanel__column:last-child {
  margin: 50px 0px 0px 0px;
}

.body-buypanel__column p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 166.4%;
  color: #6B7385;
}

.body-buypanel__column p:last-child {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 166.4%;
  color: #FBFBFB;
  border-bottom: 1px solid #6B7385;
}

.body__btn {
  margin: 45px 0px 0px 0px;
}

.body__btn a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22px;
  line-height: 166.4%;
  text-align: center;
  color: #060D24;
  padding: 10px 70px;
  background: #FBFBFB;
  border-radius: 5px;
}

.footer {
  padding: 30px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__img {
  margin: -5px 20px 0px 0px;
}

.footer__link a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #FBFBFB;
}