@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "obnulenie.scss";

body{
	background: #000;
}

.wrapper {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	min-height: 100%;
	flex-direction: column;
}
.content {
	padding: 40px;
}
.header {
}
.container {
	max-width: 1135px;
	margin: 0 auto;
}
.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__menu {}
.header__links {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	margin: 0px 60px 0px 0px;
}
.header__links:last-child{
	margin: 0;
}
.header__links:hover{
	color: #E3AB41;
}


.body {
	padding: 0 40px;
	margin: 120px 0px 0px 0px;
}
.body__row {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}
.body__column:first-child {
	margin: 0px 10px 0px 0px;
}
.body__column:last-child {
	margin: 0px 0px 0px 10px;
}
.body__text{
	max-width: 590px;
}
.body__title {
	font-family: "Creepster";
	font-style: normal;
	font-weight: 400;
	font-size: 90px;
	line-height: 105.49%;
	color: #E3AB41;
	margin: 0px 0px 65px 0px;
}
.body__subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	color: #DCDDE1;
	margin: 0px 0px 65px 0px;
}
.body__btn {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #010101;
	padding: 8px 90px;
	gap: 10px;
	background: #E3AB41;
}
.body__img {}